.options {
  display: flex;
  gap: 5px;
  margin-bottom: 32px;
}

.options button {
  padding: 5px 9px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(240, 240, 240) ;
  color: black;
  border: 2px solid rgb(130, 130, 130);
  border-radius: 5px;
}
